<div class="text-balance w-1/1 lg:w-85/100 lg:max-w-340 w-95/100 md:m-auto">
<h1 class="font-heading text-4xl md:text-5xl">Special Orders, Events, and Space Rental</h1>
<h3 class="pt-8 text-2xl">Special Orders</h3>
<p class="pt-2"><a class="underline" href="">Please fill out this form</a> and one of our staff will get back to you as soon as possible to confirm!</p>
<p class="pt-6">You are also welcome to call or stop in the cafe to fill out a form by hand. Please note that for larger orders, we require ___ number of days in advance. For orders over ___ size, please look at our special order menu for offerings and pricing.</p>

<h3 class="pt-8 text-2xl">Events and Space Rentals</h3>
<p class="pt-2">We are excited to start hosting more events in our space in the evenings after hours! We maintain a public calendar of events hosted in the space here and in the cafe. We offer a limited menu if you want to host an event with food. Space rentals are sliding scale (see below).</p>
<p class="pt-6">For rental inquires please___</p>