<h1 class="text-6xl text-center mt-10">Open 7 Days a week - 7:00AM to 4:30PM</h1>
<div class="divider my-12">
  <div class="font-heading text-4xl">Try our weekly specials!</div>
</div>
<div class="w-1/1">
  <%- include('specials.ejs') %>
</div>