<div class="hero bg-base-200 flex-1">
    <div class="hero-content w-full">
        <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
            <div class="card-body">
                <login-form></login-form>
            </div>
        </div>
      </div>
    </div>
  </div>