<div class="text-balance w-1/1 lg:w-85/100 lg:max-w-340 w-95/100 md:m-auto">
<h1 class="font-heading text-4xl md:text-5xl">Support Us</h1>
<h3 class="pt-8 text-2xl">Merch</h3>
<p class="pt-2">Want to support us and rep the May Day Coop!?</p>
<p class="pt-4">We have been proud to work with local artists <a class="underline" href="https://www.instagram.com/DioCramer/">@DioCramer</a> and <a class="underline" href="https://www.instagram.com/jonasgoonface/">@JonasGoonface</a> to make some adorable merch and totes for sale in the cafe only! All locally printed in collaboration with <a class="underline" href="https://www.kuyaprint.co/">Kuya Print Co.</a></p>

<h3 class="pt-8 text-2xl">Donate</h3>
<p class="pt-2">Thanks to hundreds of donors who supported us during our fundraising drive in 2024, we were able to purchase May Day Cafe and transition it to a worker-owned cooperative. We remain so grateful to all of you who contributed your time, creativity, love, and money during that time. We continue to gratefully accept donations to help support our business to continue to thrive and live into our vision of the May Day Cafe Workers Cooperative as a community hub supporting workplace dignity and neighborhood interdependence.</p>
<p class="pt-4">As we are a for-profit business, donations are not tax deductible.</p>

<h3 class="pt-8 text-2xl">Come Visit!</h3>
<p class="pt-2">We are open for business seven days a week and we'd love to see you here. We also take special orders - <a class="underline" href="/events-and-special-orders">visit our events and special orders page for more</a></p>